{% extends "layout.html" %}

{% block title %}
    Memory Drill
{% endblock %}

{% block main %}

    <div>
        <span class="black">{{ question_rows[0]['romaji'] }}</span>
    </div>
    {% for option in options %}
    <div class="marquee">
        <form action="/memory" onsubmit="check();" method="post">
            <input class="form-control" type="hidden" name="anskey" value="{{question_rows[0]['char']}}">
            <input class="form-control" type="hidden" name="romaji" value="{{question_rows[0]['romaji']}}">
            <button class="btn btn-primary" type="submit" name="answer" value="{{ option }}">{{ option }}</button>


            <!--<input type="submit" value="{{ option }}">-->
        </form>
        <!--<p> {{ option }} </p>-->
    </div>
    {% endfor %}


<script>
    function check()
     {
        console.log("{{answer}}")
     }

</script>

{% endblock %}
